{{ define "main" }}
<article>
    {{ $paginator := .Paginate .Data.Pages }}
    <ul class="events nolist">
        {{ range $event := $paginator.Pages }}
            {{ $date := (time $event.Params.date) }}
            {{ $upcoming := $date.After now }}
            {{ $project := .GetPage (print "/project/" .Params.project) }}
            {{ if $upcoming }}
            <li class="upcoming">
                <h2 class="title">
                    <time>{{ $date.Format "2006/01/02" }}</time>
                    <!--<a href="{{ .RelPermalink }}">{{- .Title | safeHTML -}}</a>-->
                </h2>
                <h3>
                    <a href="{{ .RelPermalink }}">{{- .Title | safeHTML -}}</a>
                </h3>
                {{ with $event.Params.location }} {{.}} {{ end }}
                {{ with $project }}<a href="{{ .RelPermalink }}">{{- .Title | safeHTML -}}</div>{{ end }}
            </li>
            {{ end }}
        {{ end }}
    </ul>
    <hr>
    <ul class="events nolist">
        {{ range $event := $paginator.Pages }}
        {{ $date := (time $event.Params.date) }}
        {{ $upcoming := $date.After now }}
        {{ if not $upcoming }}
        <li class="inactive">
            <time>{{ $date.Format "2006.01.02" }}</time>
            <a href="{{ .RelPermalink }}">{{- .Title | safeHTML -}}</a>
        </li>
        {{ end }}
        {{ end }}
    </ul>

</article>
{{ end }}
