{{ define "main" }}
<article>
    <label>Upcoming events</label>
    {{ $paginator := .Paginate .Data.Pages }}
    <ol class="upcoming events nolist">
        {{ range $event := $paginator.Pages }}
            {{ $date := (time $event.Params.date) }}
            {{ $upcoming := $date.After now }}
            {{ $project := .GetPage (print "/project/" .Params.project) }}
            {{ if $upcoming }}
            <li class="upcoming">
                <a href="{{ .RelPermalink }}">
                    <h2>
                        <time>{{ $date.Format "2006/01/02" }}</time>
                    </h2>
                    <h3>{{- .Title | markdownify | safeHTML -}}</h3>
                </a>
                {{ with $event.Params.location }}<div style="color: var(--f_low);">{{- . | markdownify -}}</div>{{ end }}
            </li>
            {{ end }}
        {{ end }}
    </ol>
    <hr>
    <label>Past events</label>
    {{ .Render "table" }}
  </article>
{{ end }}
