{{ define "main" }}
{{ $id := .File.ContentBaseName }}
{{ $time := (time .Params.time) }}
{{ $upcoming := $time.After now }}
<article class="live">
    {{ .Render "li" }}
    <section class="content">{{- .Content -}}</section>
    <!--{{ $id }}-->
    <!--<h2>{{- .Title -}}</h2>-->
    <!--<time>{{ .Date.Format "2006-06-01" }}</time>-->
    <!--<div>VENUE: {{- .Params.venue -}}</div>-->
    <!--<div>LINK: {{- .Params.link -}}</div>-->
    <!--<div>UPCOMING: {{ $upcoming }}</div>-->
    <!--<div>PROJECT: {{- .Params.project -}}</div>-->

    {{ partial "prev_next" . }}
</article>
{{ end }}
