
ol.bold, ul.bold {
    a {
        transition: color 0.3s;
        &:hover {
            font-style: italic;
            font-weight: 100;
            transition: none;
        }
    }
}

ul.projects {
    list-style: none;
    > li {
        //position: relative;
        //width: 100%;
        //direction: ltr;
        a {
            transition: color 0.3s;
            &:hover {
                font-style: italic;
                font-weight: 200;

                transition: none;
            }
        }
        .title {
            //font-size: 2rem;
        }
        h2 {
            //font-size: 2rem;
            //width: 100%;
            //white-space: nowrap;
            //overflow: hidden;
            //text-overflow: ellipsis;
        }   
    }
}

ol.events {
    list-style: none;
    &.upcoming {
        > li {
            //background: red;
            margin: 0 0 1rem 0;
            .date {
                font-weight: 700;
                letter-spacing: -0.05em;
                font-size: 3rem;
            }
            .title {
                //font-size:  1rem;
            }

            h2 {
            }
            h3 {
                line-height: 1;
            }
        }
    }
    &.past {
        > li {
            * {
                //color: var(--f_low);
                //background: var(--b_med);
            }
        }
    }
}
