ol.big, ul.big {
    list-style: none;
    > li {
        a {
            transition: color 0.3s;
            &:hover {
                font-style: italic;
                font-weight: 200;
                transition: none;
            }
        }
    }
}

ol.events {
    list-style: none;
    &.upcoming {
        > li {
            margin: 0 0 1rem 0;
            .date {
                font-weight: 700;
                letter-spacing: -0.05em;
                font-size: 3rem;
            }
            h3 {
                line-height: 1;
            }
        }
    }
    &.past {
        > li {
            * {
                //color: var(--f_low);
                //background: var(--b_med);
            }
        }
    }
}
