ol.projects {
    > li {
        list-style: none;
        padding: 0px;
        margin: 0 0 1px 0;
        white-space: nowrap;
        h2 {
            font-size:  5rem;
            padding: 0;
            transition: font-size 0.2s, font-variation-settings 4s;
            &:hover {
                font-size: 7rem;

                font-style: italic;
                font-variation-settings: 'wght' 200, 'GRAD' 88;
                //font-variation-settings: 'wght' 600, 'GRAD' 88;
                //transition: font-size 0.2s; //, font-variation-settings 2s;
            }
            a {
                transition: color 0.2s;
            }
        }
    }
}

article.project {
    position: relative;
    z-index: 10;


}

