@use "sass:math";
@use 'breakpoint';
@use "theme";

html {
	scroll-behavior: smooth;
    //word-break: keep-all;
}

body {
    display: grid;
    grid-template-columns: [site-start] 1fr [site-end];
    grid-template-rows: [site-start] auto [page-start] 1fr [page-end] auto [site-end];
    //gap: 2rem;
    //width: 100vw;
    height: 100%;
    //padding: 1rem;
    
	overflow-x: hidden;

    //transition: color 1s;

    > * {
        //width: 100%;
    }
    > header {
        grid-row: site-start /  page-start;
        display: flex;
        //align-items: end;
        //align-items: center;
        position: relative;
        z-index: 1000;
        margin: 0 1rem;
        padding: 2rem 0;
        height: 100%;
        border-bottom: 1px solid var(--f_med);
        text-transform: uppercase;
        //background: red;
        > h1 {
            all: unset;
            display: inline-block;
            font-size: 1rem;
            font-weight: bold;
            a {
                color: var(--f_med);
            }
        }
        > nav {
            display: inline-block;
            display: flex;
            text-transform: uppercase;
            position: relative;
            margin-right: 1rem;
            &[data-id="nav"] {
                > ul {
                    display: flex;
                    list-style: none;
                    margin: 0;
                    text-transform: uppercase;
                    > li {
                        display: table;
                        margin-left: 0.5rem;
                        border-left: 1px solid var(--f_med);
                        padding: 0 0 0 0.5rem;
                        color: var(--f_low);
                        a {

                            color: var(--f_med);
                        }
                        &.active {
                            a {
                                padding: 0.35rem 1rem 0.5rem 1rem;
                                //letter-spacing: 4px;
                                font-style: italic;
                                border-radius: 1.5em;
                                color: var(--background);
                                background: var(--f_med);
                            }
                        }
                    }
                }
            }
            &[data-id="subnav"] {
                //justify-content: flex-end;
                width: 100%;
                //background: red;
            }
        }
    }
    > main {
        grid-column: site-start /  site-end;
        //grid-row: page-start /  page-end;
        //height: 100%;
        margin: 0 1rem;
		//padding: 1rem 0;
        z-index: 10;
        article {
            //margin: 0 1rem;
            padding: 1rem 0;
            //white-space: nowrap;
            //overflow: hidden;
            //border: 1px solid var(--f_med);
            //margin: 0 1rem;
            img {
                width: 100%;
            }
            /*ol, ul {
                &.events {
                    > li {
                        margin: 1rem 0;
                        .location {
                            color: var(--f_med);
                        }
                        &.upcoming {
                            a {
                                color: var(--f_med);
                            }
                            
                        }
                    }
                }
                > li {
                    &.inactive {
                        margin: 0;
                        color: var(--f_med);
                        a {
                            color: var(--f_med);
                        }
                    }
                }
            }*/
            > header {
                margin-bottom: 1rem;
            }
            .title {
                //font-size: 4rem;
            }
            > div.content {
                max-width: 800px;

            }
        }
    }
    > footer {
        grid-column: site-start /  site-end;
        //display: flex;
        //justify-content: center;
        margin: 0 1rem;
        padding: 1rem 0;
        font-family: "Mono";
        font-size: 10px;
        text-transform: uppercase;
        z-index: 1000;
        color: var(--f_low);
        //background: var(--f-inv);

        border-top: 1px solid var(--f_med);

        a {
            color: var(--f_low);
        }
        * {
        }
        //border-top: 1px solid var(--fg);
    }

    @media screen and (min-width: breakpoint.$tablet) {
        > header {
            padding: 1.5rem 0;
            > nav {
                &[data-id="subnav"] {
                }
                //justify-content: flex-end;
                //justify-self: flex-end;
                //justify-content: space-between;
            }
            //> footer {
                //justify-content: space-between;
            //}
        }
    }
}

#background-media {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    user-select: none;
    > video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    > div.gradient {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.8;
        z-index: 2;
        //background: black;
        //background: inherit;
        //background: #B73B20;
        //background: linear-gradient(to bottom right, #B73B20, #71FECF);
        //background: linear-gradient(to bottom right, rgba(0,0,0,0), red);
        //background-image: radial-gradient(
            //circle at 51% 41%,
            //rgba(89, 209, 78, 0.69) 0%,
            //rgba(215, 33, 58, 0.76) 91%
          //);
        //background-image: radial-gradient(
            //circle at 51% 41%,
            //var(--bg) 0%,
            //var(--bg) 29%
          //);
    }
}

