$bg: #999999;

:root {
    
    //--bg: #070706;
    //--fg: rgb(255, 192, 203);
    //--acc: #fefefe;

    //--bg: #222222;
    //--fg: #888888;
    //--acc: #affec7;

    //--bg: #464646;
    //--fg: #DCDCCC;
    //--acc: #7F9F7F;

    //--bg: #0E0D11;
    //--fg: #EFEFEF;
    //--acc: #26936F;
    //--acc2: #A5435A;

    --bg: #{$bg};
    --fg: #eeefee;
    //--bg: #eeefee;
    //--fg: #999999;
    --acc: #303030; //ed2c3e
    --acc2: #545454;

    --hi_fg: #ff0000;
    --hi_bg: #000000;
}

body {
    background: var(--bg); 
    color: var(--fg);
    -webkit-tap-highlight-color: var(--fg);
}
*::selection {
    background: var(--fg);
    color: var(--acc);
}

*::inactive-selection {
    background: red;
    color: blue;
}

*::spelling-error {
    background: red;
    color: blue;
}
