:root {
    
    //--bg: #070706;
    //--fg: rgb(255, 192, 203);
    //--acc: #fefefe;

    //--bg: #222222;
    //--fg: #888888;
    //--acc: #affec7;

    //--bg: #464646;
    //--fg: #DCDCCC;
    //--acc: #7F9F7F;

    //--bg: #0E0D11;
    //--fg: #EFEFEF;
    //--acc: #26936F;
    //--acc2: #A5435A;

    --bg: #eeefee;
    --fg: #999999;
    --acc: #000000;
    --acc2: #545454;


}

