
:root {
    --bg: #070706;
    --fg: rgb(255, 192, 203); /*pink;*/
    --acc: #fefefe;
}


body {
    /*
    background: var(--bg);
    color: var(--fg);
    background-repeat: repeat;
    background-image: url("assets/void.pattern.2.png");
    */
}

