{{ define "main" }}
<article>
    {{ range .RegularPages }}
    <section>
        <h4 style="margin-bottom: 4px">
            {{ $res := resources.Get (print "audio/" .Params.file) }}
            <a href="{{ $res.Permalink }}">
                <i class="ic-file_download" style="position:relative;top:3px;"></i>
                <span>{{- .Title | safeHTML -}}</span>
            </a>
        </h4>
        <ol class="nolist" style="font-family: monospace; font-size: 75%; position:relative; left: 0.5rem;">
            {{ with .Params.microphone }}
            <li>
                <span>Microphone:</span>
                <strong>{{ . }}</strong>
            </li>
            {{ end }}
            {{ with .Params.recorder }}
            <li>
                <span>Recorder:</span>
                <strong>{{ . }}</strong>
            </li>
            {{ end }}
            {{ with .Params.details }}
            <li>
                <span></span>
                <strong>{{ . }}</strong>
            </li>
            {{ end }}
            <!--{{ with .Params.files }}-->
            <!--<li>-->
                <!--<ol class="nolist">-->
                    <!-- range $file := . }}-->
                    <!-- $res := resources.Get (print "audio/" $file) }}-->
                    <!--<li>-->
                        <!--<a href=" $res.Permalink }}">-->
                            <!--<i class="ic-file_download" style="font-size: 2rem;"></i>-->
                            <!--<strong> $file | safeHTML }}</strong>-->
                        <!--</a>-->
                    <!--{{ end }}-->
                    <!--</li>-->
                <!--<ol>-->
            <!--</li>-->
            <!-- end }}-->
        </ol>
    </section>
    {{ end }}
</article>
{{ end }}

