{{ define "head" }}
<link rel="stylesheet" href="{{ (resources.Get "css/audio.css").Permalink }}">
<script src="{{ (resources.Get "js/audio.js").Permalink }}" async></script>
{{ end }}

{{ define "main" }}
<ol data-type="playlist">
  {{ range $rec := .RegularPages }}
  <li>
    {{ with .Params.image }}
    {{/*{{ $res_id := print "image/" . }}*/}}
    {{/*{{ $res := resources.Get $res_id }}*/}}
    {{/*{{ with $res }}*/}}
    {{/*<img src="{{ $res.RelPermalink}}"></img>*/}}
    {{/*{{ else }}*/}}
    {{/* {{ warnf "image [%s] not found" $res_id }}*/}}
    {{/*{{ end }}*/}}
    <img src="image/{{ . }}">
    {{ end }}
    <div class="content">
      {{ $path := print "file/" .Params.file }}
      <h6 class="title">{{ .Title | safeHTML }}</h6>
      <div class="text">{{ .Content }}</div>
      {{/*{{ with .Params.project }}*/}}
      {{/*<div>*/}}
        {{/* <span>Project:</span>*/}}
        {{/* <a href="/project/{{- . -}}"><strong>{{- . -}}</strong></a>*/}}
        {{/*</div>*/}}
      {{/*{{ end }}*/}}
      <audio src="{{ $path }}" controls></audio>
    </div>
  </li>
  {{ end }}
</ol>
{{ end }}


{{ define "subnav" }}
<div id="audio-info">
</div>
{{ end }}
