{{ define "main" }}
<article data-page="project">
    <header>
        <h2>{{- .Title | safeHTML -}}</h2>
    </header>
    <div class="content">{{- .Content | safeHTML -}}</div>


    <!--
    {{ $id := .File.ContentBaseName }}
    {{ $events := where (where .Site.RegularPages "Section" "live") "Params.project" "==" $id }}
    {{ if gt (len $events) 0 }}
    <label>project events</label>
    <table>
        {{ range $event := $events }}
            {{ if eq $event.Params.project $id }}
                {{ .Render "tr" }}
            {{ end }}
        {{ end }}
    </table>
    {{ end }}

 <section>
        <label>Past events</label>
        <table>
            {{ range $event := $events }}
            {{ $date := (time $event.Params.date) }}
            {{ $upcoming := $date.After now }}
            {{ if not $upcoming }}
            {{ if eq $event $id }}
            <tr>
                <td style="text-align: right;">{{ .Date.Format "2006/01/02" }}</td>
                <td>
                    <a href="{{ .RelPermalink }}">{{ .Title | markdownify | safeHTML -}}</a>
                    {{ with .Params.location }}
                    <i class="ic-location_on"></i>
                    <span>{{- . | markdownify | safeHTML -}}</span>
                    {{ end }}
                </td>
            </tr>
            {{ end }}
            {{ end }}
            {{ end }}
        </table>
    </section>
-->



</article>
{{ end }}

{{ define "subnav" }}
    {{ partial "prev_next" . }}
{{ end }}

{{ define "background-media" }}
{{ $id := .File.ContentBaseName }}
{{ if .Params.video }}
    {{ $video := resources.Get (print "video/" $id ".mp4") }}
    {{ if $video }}
        {{ $start := .Params.video.start | default 0 }}
        {{ $src := print $video.Permalink "#t=" $start }}
        <div id="background-media">
            <video src="{{ $src }}" autoplay muted loop></video>
            <!--<div class="gradient"></div>-->
        </div>
    {{ end }}
{{ end }}
{{ end }}
