{{ define "main" }}
<article class="project">
    <h2>{{ .Title }}</h2>
    <!--<ol class="links">-->
        <!--{{ range .Params.links }}-->
        <!--<li>-->
            <!--<a href="{{ . }}">{{ . }}</a>-->
        <!--</li>-->
        <!--{{ end }}-->
    <!--</ol>-->
    <ol class=files>
        {{ range .Params.files }}
        <li>
            <audio src="{{ . }}" controls>{{ . }}</audio>
        </li>
        {{ end }}
    </ol>
	<!--<div class="description">{{- .Description -}}</div>-->
	<div class="content">{{- .Content -}}</div>



</article>

{{ end }}

