<!DOCTYPE html>
<html lang="{{$.Site.LanguageCode}}">
    <head>
        {{ $root := .Site.BaseURL }}
        {{ $url := urls.Parse $root }}
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,minimum-scale=1">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="title" content="{{ .Site.Title }}">
		{{ if isset .Params "description" }}<meta name="description" content="{{ .Param "description" }}">{{ end }}
		{{ if isset .Site.Params "theme_color" }}<meta name="theme-color" content="{{ .Site.Param "theme_color" }}">{{ end }}
        {{ if isset .Site.Params "publisher" }}<meta name="publisher" content="{{ .Site.Params.publisher }}">{{ end }}
        {{ with .Param "keywords" }}<meta name="keywords" content='{{ delimit . ","}}'>{{ end }}

        {{ template "_internal/twitter_cards.html" . }}
        {{ template "_internal/opengraph.html" . }}

        <title>{{block "title" .}}{{.Site.Title}}{{end}}{{with .Page.Title}} | {{.}}{{end}}</title>

        {{ partial "site/favicons" . }}
        <link rel="stylesheet" href="{{ $root }}/style.css">
        <link rel="alternate" href="feed" type="application/atom+xml" title="Stritter Audio"/>
        <link rel="manifest" href="{{ $root }}/manifest.json">
        
        <script src="{{ (resources.Get "script/app.js").Permalink }}" async></script>
        {{ range $val := $.Site.Params.customJS }}
		{{ if gt (len $val) 0 }}<script src="{{ $root }}{{ $val }}" async></script>{{ end }}
		{{ end }}
        {{ range $val := .Params.customJS }}
		{{ if gt (len $val) 0 }}<script src="{{ $root }}{{ $val }}" async></script>{{ end }}
        {{ end }}

	</head>
	<body>
        <header>
            {{ block "header" . }}{{- partial "site/header.html" . -}}{{ end }}
        </header>
        <nav>
            {{ block "nav" . }}{{- partial "site/nav.html" . -}}{{ end }}
        </nav>
		<main>
            {{ block "main" . }}{{- partial "site/main.html" . -}}{{ end }}
        </main>
		<footer>
            {{ block "footer" . }}{{- partial "site/footer.html" . -}}{{ end }}
        </footer>
        <div id="background-media">{{ block "background-media" .}}{{ end }}</div>
    </body>
</html>

