<!DOCTYPE html>
<html lang="{{$.Site.LanguageCode}}">
    <head>
        {{ $root := .Site.BaseURL }}
        {{ $url := urls.Parse $root }}

        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,minimum-scale=1">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="title" content="{{ .Site.Title }}">
        <meta name="description" content="{{ with .Params.description }}{{- . -}}{{ else }}{{- .Site.Params.description -}}{{ end }}">
        {{ with .Site.Params.publisher }}<meta name="publisher" content="{{- . -}}">{{ end }}
        {{ with .Site.Params.theme_color }}<meta name="theme-color" content="{{- . -}}">{{ end }}
             
        {{ $keywords := .Site.Params.keywords }}
        {{ with .Params.keywords }}{{ $keywords = union $keywords . }}{{ end }}
        <meta name="keywords" content="{{ delimit $keywords "," }}">

        {{ template "_internal/opengraph.html" . }}
        {{ template "_internal/twitter_cards.html" . }}
        {{ template "_internal/schema.html" . }}
        
        <title>{{block "title" .}}{{.Site.Title}}{{end}}{{with .Page.Title}} | {{.}}{{end}}</title>
       
        <link rel="stylesheet" href="{{ $root }}/style.css">
        <link rel="alternate" href="{{ $root }}index.xml" type="application/atom+xml" title="Stritter"/>

        <link rel="manifest" href="{{ $root }}/manifest.json">
        {{ partial "site/favicons" . }}
       
        <script src="{{ (resources.Get "script/app.js").Permalink }}" async></script>
        
	</head>
	<body>
        <header>
            <nav data-id="nav">{{ block "nav" . }}{{- partial "site/nav.html" . -}}{{ end }}</nav>
            <nav data-id="subnav">{{ block "subnav" . }}{{ end }}</nav>
        </header>
        <main>{{ block "main" . }}{{- partial "site/main.html" . -}}{{ end }}</main>
		<footer class="meta">{{ block "footer" . }}{{- partial "site/footer.html" . -}}{{ end }}</footer>
        <div id="background-media">{{ block "background-media" .}}{{ end }}</div>
        {{ with .Params.theme }}
        <style>
            :root {
                {{ with .background }}--background: {{.}};{{ end }}
                {{ with .f_high }}--f_high: {{.}};{{ end }}
                {{ with .f_med }}--f_med: {{.}};{{ end }}
                {{ with .f_low }}--f_low: {{.}};{{ end }}
                {{ with .f_inv }}--f_inv: {{.}};{{ end }}
                {{ with .b_high }}--b_high: {{.}};{{ end }}
                {{ with .b_med }}--b_med: {{.}};{{ end }}
                {{ with .b_low }}--b_low: {{.}};{{ end }}
                {{ with .b_inv }}--b_inv: {{.}};{{ end }}
            }
        </style>
        {{ end }}
		<div id="vignette"></div>
    </body>
</html>

