/** ii/audio **/

ol[data-type="playlist"] {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 1rem;
  margin: 0 var(--site-margin);
  padding: 2rem 0 2rem 0;

  >li {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    color: var(--f_med);
    background: var(--b_low);
    background:
      linear-gradient(45deg, var(--b_low) 25%, transparent 25%, transparent 75%, var(--b_low) 75%),
      linear-gradient(45deg, var(--b_low) 25%, transparent 25%, transparent 75%, var(--b_low) 75%);
    background-size: 6px 6px;
    background-position: 0 0, 3px 3px;
    border: 1px solid var(--f_med);
    min-height: 300px;
    overflow: hidden;
    transition: border 0.2s;
    padding: 1.5rem;
    height: 100%;

    img {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: 10;
      filter: saturate(25%);
      transition: filter 1s;
      user-select: none;
    }

    div.content {
      position: relative;
      z-index: 1000;
      //text-shadow: 1px 1px black;
    }

    .title {
      line-height: 1em !important;
      min-width: 100%;
    }

    .project {
      color: var(--f_low);
    }

    audio {
      position: relative;
      opacity: 0;
      transition: opacity 0.2s;
      z-index: 10000;
      width: 100%;
      padding: 0.5rem 0;
    }

    &.active {
      color: var(--f_med);
      background: var(--b_high);
      border: 0.5rem solid var(--f_med);
      // box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.2), -1rem -1rem 2rem rgba(0, 0, 0, 0.2);
      //transform: scale(1.05);
      //transition: transform 0.2s, box-shadow 0.2s;
      //z-index: 100000;
      img {
        filter: saturate(100%);
        // transform: scale(2);
        // transition: transform 180s;
      }

      audio {
        opacity: 0.9;
      }
    }

    &:hover {
      audio {
        opacity: 0.9;
      }
    }
  }
}
