{{ define "main" }}
<article data-page="home">
    <h1>☩☩☩☩☩☩☩</h1>

    <hr>
    <hr>
    <hr>
    <hr>
    <hr>
    <!--<h3>UPCOMING EVENTS</h3>-->
    <!--<ol class="events">-->
        <!--{{ range where .Site.RegularPages "Section" "live" }}-->
        <!--{{ if (time .Params.date).After now }} -->
            <!--{{ .Render "li" }}-->
        <!--{{ end }}-->
        <!--{{ end }}-->
    <!--</ol>-->
    <!--<a href="{{ .Site.BaseURL }}/live/" class="more"><i class="ic-double_arrow"></i><span>[…]</span></a>-->
    <!--<h3>PROJECTS</h3>
    <ul class="ui projects">
        {{ range $project := where .Site.Pages "Section" "project" }}
            {{ if .IsPage }}
            {{ .Render "li" }}
            {{ end }}
        {{ end }}
    </ul>
    <hr>
    <h3>RECORDINGS</h3>
    <ul class="ui files">
        {{ range first 5 (where .Site.Pages "Section" "audio") }}
        {{ if .IsPage }}
        {{ .Render "li" }}
        {{ end }}
        {{ end }}
    </ul>
    <a href="{{ .Site.BaseURL }}/audio/" class="more"><i class="ic-double_arrow"></i><span>[…]</span></a>-->
</article>

<style>
a.more > span {
    display: none;
}
</style>

{{ end }}
