{{ define "main" }}
<article>
    <section>
        <label>Upcoming Events</label>
        {{ partial "upcoming_events" . }}
        <!-- {{ partial "past_events" . }} -->
    </section>
    <section>
        <label>Selected Works</label>
        <ul class="link-menu">
            {{ range where .Site.RegularPages "Section" "project" }}
            <li>
                <h3>
                    <a href="{{ .RelPermalink }}">{{- .Title -}}</a>
                </h3>
            </li>
            {{ end }}
        </ul>
    </section>
</article>
{{ end }}

{{ define "schema" }}
  {{ partial "schema/website" . }}
{{ end }}
