
:root {
    --bg: #070706;
    --fg: pink;
    --acc: #fefefe;
}

@font-face {
	font-family: "Inter";
	font-weight: normal;
	font-display: swap;
	src: url("font/Inter-Regular.ttf") format("truetype");
}
@font-face {
	font-family: "Inter";
	font-weight: bold;
	font-display: swap;
	src: url("font/Inter-Bold.ttf") format("truetype");
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
	font-weight: normal;
	border: none;
	list-style-type: none;

}

html, body, iframe {
	height: 100%;
}

html {
	font-size: 16px;
    font-family: "Inter";
}

body {
    color: var(--fg);
    background: var(--bg);
    /*
    background-repeat: repeat;
    background-image: url("assets/void.pattern.2.png");
    */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr auto;
    /*
    width: 100vw;
    max-width: 100vw;
    */
}

*::selection {
    background: var(--fg);
    color: var(--bg);
}

::-webkit-scrollbar {
    border: none;
    width: 6px;
}
::-webkit-scrollbar-track {
    background: var(--bg);
}
::-webkit-scrollbar-thumb {
    background: var(--fg);
}

a {
    color: var(--fg);
    text-decoration: none;
    font-family: "Inter";
    border-bottom: 1px solid var(--fg);
}
a:hover {
    color: var(--acc);
 background-repeat: repeat;
    background-image: url("assets/void.pattern.2.png");

}

h1, h2, h3, h4 {
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1em;
}
h1 {
    font-size: 6rem;
    letter-spacing: -1px;
    padding-bottom: 1rem;
}
h2 {
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: -3px;
    padding-bottom: 0.5rem;
}
h3 {
    font-size: 2rem;
    letter-spacing: -1px;
}

img {
    display: block;
}

ol {
}

p {
    padding-bottom: 1rem;
}



header {
    background: var(--bg);
    padding: 1rem 1rem;
    display: none;
}
header > h1 {
    font-family: monospace;
    font-size: 1rem;
    font-size: 50%;
    font-style: normal;
}
nav {
    display: none;
}
main {
    display: block;
    position: relative;
    width: 100%;
    max-width: 100vh;
    height: 100%;
    /*background: #316c65;*/
    z-index: 1000;
    margin: 0 auto;
    padding: 1rem;
    max-width: 900px;
}
main > .inner {
    padding: 2rem;
}

video {
    /*display: none;*/
    /*border: none;*/
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    /*right: 0;*/
    /*bottom: 0;*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*object-fit: cover;*/
    /*z-index: 0;*/
    /*user-select: none;*/
    filter: brightness(240%)
  contrast(280%)
  grayscale(0%)
  hue-rotate(293deg)
  invert(0%)
  saturate(30%);
}

footer {
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
    font-size: 50%;
}
footer a {
    all: unset;
    text-transform: uppercase;
}

main > section {
    color: var(--fg);
    /*
    */
    background: var(--bg);
    border: solid 0.5rem var(--fg);

    /*
    background: var(--fg); 
    background-repeat: repeat;
    background-image: url("assets/void.pattern.2.png");
*/
/*
    background-repeat: repeat;
    background-image: url("assets/void.pattern.2.png");
    padding: 1rem;
  */
    width: 100%;
    margin: 1rem;
}

main > section > .content {
    padding: 1rem;
}
main > section > .content img {
}

main > section > .content video {
    width: 100%;
    object-fit: contain;
}
main > section > ol > li {
    /*
    padding-bottom: 2rem;
    */
}
